{% extends 'base.html' %}

{% block content %}
<div class="row m-4 mt-5 pe-5">
  <div id="der" class="col-4">
    <div class="bg-warning bg-opacity-25 rounded ms-5 me-5 pt-5 pb-5">
      <h1 class="mb-5">Panel Usuario</h1>
      <a href="/user" class="btn btn-warning fs-5 text-decoration-none col-8 mt-5 mb-5">Notificaciones</a>
      <a href="/reservar" class="btn btn-success fs-5 text-decoration-none col-8 mb-5">Reservar</a>
      <a href="/mis_reservas" class="btn btn-primary fs-5 text-decoration-none col-8 mb-5">Historial de Reservas</a>
      <a href="/perfil" class="btn btn-warning fs-5 text-decoration-none col-8 mb-5">Editar mis datos</a>
      <a href="/logout" class="btn btn-danger fs-5 text-decoration-none col-8 mb-5">Cerrar Sesion</a>
    </div>
  </div>
  <div id="izq" class="col-8 border border-secondary-subtle rounded">
    <div class="row m-5">
      <h1 class="display-1 fs-1">Hola de nuevo {{ user.first_name }} {{ user.last_name }}!</h1>
      <h1 class="display-1 fs-3 mb-5">Tienes 0 reservas activas.</h1>
      <p class="display-1 fs-5 mt-5">Cuando tengas reservas activas, podras visualizarlas desde aqui.
      <br>Puedes comenzar reservando una habitacion!</p>
      <a href="#pagar-requiere-javascript" class="btn btn-danger fs-5 text-decoration-none col-3 mt-5 mb-5 mx-auto">Reservar Ahora</a>
    </div>
  </div>
</div>
{% endblock %}